---
import type { Link } from '@/types/ui';
import { cn } from '@/utils/cn';
import { storyblokEditable } from '@storyblok/astro';

interface Props {
  links: Link[];
  _editable: string;
  _uid: string;
  component: string;
}

const { links, _uid, _editable, component }: Props = Astro.props;
---

<footer
  class={cn('flex flex-col items-center justify-center px-4 py-6 bg-fill-100 gap-4')}
  {...storyblokEditable({ _editable, _uid, component })}
>
  <ul class={cn('flex gap-4 !p-0')}>
    {
      links.map((link) => (
        <li class={cn('list-none !m-0')}>
          <a
            href={link.href}
            class={cn('text-sm text-text-400 hover:text-text-500 transition-colors duration-200')}
          >
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</footer>
